#map { 
    height: 450px; 
}

#mapLeft { 
    margin-top: 30px;
    height: 350px; 
}

#mapRight { 
    margin-top: 30px;
    height: 350px; 
}

.panel-title {
    margin-top: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    background-color: #f08013;
} 