<!-- GRAPH: Water Consumption -->
<div class="row ma-0 pa-0">
  <div class="col-10 ma-0 pa-0 title-graph">
    WATER CONSUMPTION (Lt.)
  </div>
  <div class="col-2 ma-0 pa-0">
    <mat-form-field>
      <mat-label>Select filter</mat-label>
      <mat-select [(ngModel)]="selectedTimeWater" name="time">
        <mat-option *ngFor="let time of timeFilter" [value]="time.value">
          {{time.value}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>
<div class="row mt-4 d-flex justify-content-center">
  <div class="col-11">
    <apx-chart
      [series]="chartOptionsWaterConsumption.series"
      [chart]="chartOptionsWaterConsumption.chart"
      [xaxis]="chartOptionsWaterConsumption.xaxis"
      [stroke]="chartOptionsWaterConsumption.stroke"
      [colors]="chartOptionsWaterConsumption.colors"
      [dataLabels]="chartOptionsWaterConsumption.dataLabels"
      [legend]="chartOptionsWaterConsumption.legend"
      [markers]="chartOptionsWaterConsumption.markers"
      [grid]="chartOptionsWaterConsumption.grid"
      [yaxis]="chartOptionsWaterConsumption.yaxis"
      [fill]="chartOptionsWaterConsumption.fill"
      [tooltip]="chartOptionsWaterConsumption.tooltip"
    ></apx-chart>  
  </div>
</div>

<!-- GRAPH: Monthly Consumption -->
<div class="row ma-0 pa-0">
  <div class="col-10 ma-0 pa-0 title-graph">
    Monthly CONSUMPTION (Lt.)
  </div>
  <div class="col-2 ma-0 pa-0">
    <mat-form-field>
      <mat-label>Seleccionar filtro</mat-label>
      <mat-select [(ngModel)]="selectedTimeMonthly" name="time">
        <mat-option *ngFor="let time of timeFilter" [value]="time.value">
          {{time.value}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>
<div class="row d-flex justify-content-center">
  <div class="col-11">
    <apx-chart
      [series]="chartOptionsMonthlyConsumption.series"
      [chart]="chartOptionsMonthlyConsumption.chart"
      [xaxis]="chartOptionsMonthlyConsumption.xaxis"
      [yaxis]="chartOptionsMonthlyConsumption.yaxis"
      [colors]="chartOptionsMonthlyConsumption.colors"
    ></apx-chart>    
  </div>
</div>

