<div class="row">
  <div class="bg-app-menu">
    <div class="d-flex justify-content-center pt-1">
      <div class="d-flex justify-content-center"><img width="75%" src="../../../assets/img/logo_ambling_icon_white.png" /></div>
    </div>


    <div class="my-3 text-center">
      <div class="py-2" (mouseover)="showTextDash=true" (mouseout)="showTextDash=false">
        <mat-icon class="icon-nav">home</mat-icon><span *ngIf="showTextDash">DASHBOARD</span></div>
      <div class="py-2" (mouseover)="showTextConfig=true" (mouseout)="showTextConfig=false">
        <mat-icon class="icon-nav">settings</mat-icon><span *ngIf="showTextConfig">CONFIGURACIÓN</span></div>
    </div>

  </div>
  <div class="bg-app-bar">
    <div class="d-flex justify-content-center">
      <div class="d-flex justify-content-center"><img width="10%" src="../../../assets/img/logo_ambling.png" /></div>
    </div>
  </div>
</div>

<!--
  <mat-toolbar class="bg-app-bar">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>

     
    <span>My App</span>
    <span class="example-spacer"></span>

    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon class="white-icon">more_vert</mat-icon>
    </button>
    
  </mat-toolbar>
-->
<!-- Navegation menu (right)
<mat-menu #menu="matMenu" class="bg-app-bar">
  <button mat-menu-item (click)="openLogout()">
    <mat-icon class="red-icon">logout</mat-icon>
    <span class="red-icon text-base-title">Cerrar sesión</span>
  </button>
</mat-menu> 
-->