.example-spacer {
  flex: 1 1 auto;
}
.bg-app-bar{
  background-color: #ffffff;
}
.bg-app-menu {
  background-color: #ffffff;
}
.white-icon {
  color: #f08013;
}

.example-container {
  width: 100%;
  height: 100%;
}

.menu-panel-logo {
  background-color: #f08013;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 10px;
  z-index: 5;
}

.icon-ambling {
  margin-top: 4px;
  color: #f08013;
}