<div class="row">
  <div class="col-4">
    <div>ICONO</div>
  </div>
  <div class="col-8" class="bg-app-bar">
    <div class="d-flex justify-content-center">
      <div style="width: 40%" class="d-flex justify-content-center"><img width="70%" src="../../../assets/img/logo-AIR.png" /></div>
    </div>
  </div>
</div>
<!--
  <mat-toolbar class="bg-app-bar">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>

     
    <span>My App</span>
    <span class="example-spacer"></span>

    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon class="white-icon">more_vert</mat-icon>
    </button>
    
  </mat-toolbar>
-->
<!-- Navegation menu (right)
<mat-menu #menu="matMenu" class="bg-app-bar">
  <button mat-menu-item (click)="openLogout()">
    <mat-icon class="red-icon">logout</mat-icon>
    <span class="red-icon text-base-title">Cerrar sesión</span>
  </button>
</mat-menu> 
-->